<div class="footer">
    <div id="copyright" style="position: absolute; text-align: left; padding-top: 10px; font-size: 15px; padding-left: 15px; color: rgb(177, 177, 177);">© 2020 Tŝilhqotin National Government. ALL RIGHTS RESERVED</div>
    <a class="navbar-brand" href="http://www.tsilhqotin.ca" target="blank"><img src="https://datsan.openbroadcaster.pro/download.php?media_id=3034" target="_blank" height="40px" style="margin-top: -10px;"></a>
    <a href="https://www.facebook.com/TsilhqotinNationalGovernment/" target="_blank"><i class="fa fa-facebook" style="font-size:30px;color:rgb(255, 255, 255)"></i></a>
    <a href="https://twitter.com/tsilhqotin" target="_blank"><i class="fa fa-twitter" style="font-size:30px;color:rgb(255, 255, 255)"></i></a>
    <!--<a href="https://www.youtube.com/channel/UC2-7dFH9j_3CoOf-Wl0EmeA" target="_blank"><i class="fa fa-youtube" style="font-size:30px;color:white"></i></a>-->
    <a href="https://github.com/Tsilhqot-in-National-Government" target="_blank"><i class="fa fa-github" style="font-size:30px;color:rgb(255, 255, 255)"></i></a>

<div style="text-align: left;">
    <h4>Find Us</h4>
<li>Downtown Office

<li>Phone: 250-392-3918

<p>253 4th Ave N</p>
<p>Williams Lake, BC V2G 4T4</p>

<p>Lakeside Office</p>

<p>Phone: (778) 799-2145</p>

<p>1729 South Lakeside Dr</p>
<p>Williams Lake, BC V2G 3A9</p>

<p>Hours</p>
<p>Monday–Friday: 8:30AM–4:30PM</p>
</div>  
</div>