<nav class="navbar navbar-expand-sm navbar-dark" style="background: url(assets/Pictures/red_print.jpg);">
    <a class="navbar-brand" href="#">
        <img src="/assets/Pictures/tng_logo_aboutus.png" width="50px" />
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
    
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;font-size: large;">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;font-size: large;">Tŝilhqot’in Rights & Title</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;font-size: large;">Lands & Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"style="color: white;font-size: large">News & Media</a>
            </li>
            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">2020-21 Top 300 Skaters</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
        -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: white; color: red;">Members</button>
        </form>
    </div>
</nav>