<div class="cover">
    <div class="panel">
        <div id="text" class="container">
            <div class="container">
                <p style="color: rgb(255, 255, 255);">The Tŝilhqot'in National Government's mission is to empower Tŝilhqot'in peoples to exercise, effectively and appropriately, their right of self-determination in their traditional territories in ways which reflect Tŝilhqot'in philosophy, values, experience and culture.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>
        Our National Government
    </h1>
 
    <p>
        The Tŝilhqot'in National Government was established in 
        1989 to meet the needs and represent the Tŝilhqot’in Nation 
        and Tŝilhqot'in communities of Tl'etinqox, ʔEsdilagh, Yuneŝit'in, 
        Tŝideldel, Tl'esqox and Xeni Gwet'in in their strive to re-establish 
        a strong political government structure.
    </p>

    <p>
        The communities work as a Nation to continue the fight of our six war 
        Chiefs of 1864. The war Chiefs stood against the Canadian Government 
        in an effort to gain Tŝilhqot'in Aboriginal Rights and Title to the 
        lands we call Tŝilhqot'in.
    </p>

    <p>
        TNG has a dedicated obligation to its people to establish programs that 
        reflect Tŝilhqot'in culture and customs in every aspect of governance.
    </p>

    <p>
        The role of TNG administration is to carry out the wishes of Tŝilhqot'in 
        citizens through their respected Chieftainship. The TNG continues to 
        advocate on behalf of all Tŝilhqot'in citizens regardless of the many 
        labels Foreign Governments place on its membership.
    </p>
</div>

<div class="container">
    <div>Career Opportunities</div>
    <div>Announcements</div>
</div>


